* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --index: calc(1vw + 1vh);
    --gutter: 30px;
    --side-small: 26;
    --side-big: 36;
    --depth: 4000px;
    --transition: .75s cubic-bezier(.075, .5, 0, 1);

}
@font-face {
    font-family: Monterchi;
    src: url("/fonts/Monterchi-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: Jost;
    src: url("/fonts/Jost-300-Light.otf");
    font-weight: 300;
}
body {
    font-family: "Jost";
    background: #000;
    color: #fff;
    font-size: calc(var(--index));
    line-height: 1.75;
    height: var(--depth);
    font-weight: 300;
}
h1, h2, h3 {
    font-family: "Monterchi";
    font-weight: 300;
    text-transform: uppercase;
    /* width: min-content; - автоматизирует текст по ширине первого слова тут не нужно но оч крутое свойство */
}
.kits_wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    perspective: 1500px;
}
.kits_gallery {
    transform-style: preserve-3d;
    height: 100%;
}
.kits_item {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition),opacity .75s ease;
    will-change: transform;
    transform-style: preserve-3d;
}
.kits_item-content .content-title {
    text-align: center;
    font-size: calc(var(--index)*3.3);
}
.kits_item-content .content-media {
    position: relative;
    width: calc( var(--index)*var(--side-small) );
    height: calc( var(--index)*var(--side-big) );
    background-position: center;
    background-size: center;
    background-repeat: no-repeat;
}
.kits_item-content .content-media--left {
    right: calc(var(--side-small) / 2 * var(--index) + var(--gutter));
}
.kits_item-content .content-media--right {
    left: calc(var(--side-small) / 2 * var(--index) + var(--gutter));
}
.kits_item--bg {
    background-color: rgba(0,0,0,.85);
}
video.content-media {
    width: calc( var(--index)*var(--side-big) );
    height: calc( var(--index)*var(--side-small) );
}
video.content-media--right {
    left: calc(var(--side-big) / 2 * var(--index) + var(--gutter));
}
video.content-media--left {
    right: calc(var(--side-big) / 2 * var(--index) + var(--gutter));
}
.text-left {
    position: relative;
    right: 18vw;
}
.text-right > * {
    position: relative;
    left: 18vw;
}
.kits_item-content h3{
    font-size: calc(var(--index) * 3);
    margin-bottom: 3vh;
}
.kits_item-content p{
    width: 40vw;
}